@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "IBM Plex", sans-serif;
}

@font-face {
  font-family: ElegantIcons;
  src: url("/src/fonts/ElegantIcons.woff");
  font-weight: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "IBM Plex";
  src: url("/src/fonts/MwQubh3o1vLImiwAVvYawgcf2eVeqlq4.woff2");
}

@media (prefers-color-scheme: dark) {
}

body {
  font-family: var(--font-family);
  min-height: 607px;
  color: rgb(var(--foreground-rgb));
}
